.dishes-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.item-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  border: 1px solid #94979c;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  @media screen and (min-width: 576px) {
    padding: 20px;
  }
}

.item-logo-content-card {
  display: flex;
  width: 40%;
  @media screen and (min-width: 768px) {
    width: 48%;
  }
}

.item-logo-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  min-width: 20px;
  margin-right: 10px;
  @media screen and (min-width: 576px) {
    height: 40px;
    min-width: 40px;
    margin-right: 20px;
  }
  @media screen and (min-width: 768px) {
    height: 32px;
    min-width: 32px;
    margin-right: 16px;
  }
}

.item-logo-card.available {
  border: 1px solid #08750c;
}

.item-logo-card.not-available {
  border: 1px solid #ad2c0c;
}

.item-logo {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  @media screen and (min-width: 576px) {
    height: 26px;
    min-width: 26px;
  }
  @media screen and (min-width: 768px) {
    height: 20px;
    min-width: 20px;
  }
}

.item-logo.available {
  background-color: #08750c;
}

.item-logo.not-available {
  background-color: #ad2c0c;
}

.dish-name-desp-price-card {
  display: flex;
  flex-direction: column;
}

.dish-name {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
  @media screen and (min-width: 576px) {
    font-size: 26px;
  }
  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
}

.dish-currency-price-card {
  display: flex;
  align-items: center;
  @media screen and (min-width: 576px) {
    width: 160px;
  }
}

.dish-currency {
  color: #3c403c;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 4px;
  @media screen and (min-width: 576px) {
    font-size: 18px;
    margin-right: 12px;
  }
}

.dish-price {
  color: #3c403c;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  @media screen and (min-width: 576px) {
    font-size: 18px;
  }
}

.dish-desp {
  color: #94979c;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  @media screen and (min-width: 576px) {
    font-size: 18px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.dish-count-card {
  background-color: #08750c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  height: 30px;
  border-radius: 18px;
  padding: 8px;
  @media screen and (min-width: 576px) {
    width: 120px;
    height: 50px;
    border-radius: 28px;
    padding: 10px;
  }
  @media screen and (min-width: 768px) {
    width: 130px;
    height: 40px;
    border-radius: 24px;
    padding: 10px;
  }
}

.dish-increase-btn,
.dish-decrease-btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  @media screen and (min-width: 576px) {
    font-size: 30px;
  }
  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
}

.dish-count {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  @media screen and (min-width: 576px) {
    font-size: 20px;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.dish-calories-image-card {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.dish-calories {
  color: #db9c37;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  align-self: center;
  margin-right: 10px;
  margin-left: 10px;
  @media screen and (min-width: 576px) {
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

.dish-image {
  height: 50px;
  width: 50px;
  margin-top: 20px;
  border-radius: 6px;
  @media screen and (min-width: 576px) {
    height: 100px;
    width: 100px;
    margin-top: 20px;
    border-radius: 8px;
  }
  @media screen and (min-width: 768px) {
    height: 80%;
    width: 140px;
    margin-top: 20px;
    border-radius: 8px;
  }
}

.dish-availability {
  color: #c93814;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
  @media screen and (min-width: 576px) {
    font-size: 18px;
  }
}

.customization-available {
  color: #5163cf;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  @media screen and (min-width: 576px) {
    font-size: 22px;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.add-to-cart-button {
  background-color: #08750c;
  width: 80px;
  height: 30px;
  border-radius: 18px;
  border: none;
  padding: 8px;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: 500;
  margin-top: 12px;
  @media screen and (min-width: 576px) {
    width: 120px;
    height: 50px;
    border-radius: 28px;
    font-size: 14px;
    padding: 10px;
  }
  @media screen and (min-width: 768px) {
    width: 130px;
    height: 40px;
    border-radius: 24px;
    padding: 10px;
  }
}

.dish-count-add-to-cart-card {
  display: flex;
  flex-direction: column;
}
